<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Construction</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="stylesheet" href="css/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,562;0,600;0,700;1,400;1,500;1,562;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">

  </head>
  <body>
  <header class="signup-header">
    <div class="container">
        <div class="logo col-md-4">
            <a href="{{route('home')}}"><img src="images/logo.png" alt="construction" /></a>
        </div>

        <div class="post-job">
            Already have an account?
            <button class="btn post-job-btn">Log in</button>
        </div>
     </div>
  </header>

  <section class="signup-section">
      <div class="col-md-5 signup-block">
          <h2>Verify your email to proceed</h2>
          <p class="email-verification-content">We just sent an email to the address: vendor@gmail.com
Please check your email and click on the link provided to verify your address.</p>

          <ul class="email-verification">
              <li><a href="javascript:void()">Change email</a></li>
              <li><a href="javascript:void()">I need help verifying my email</a></li>
          </ul>
          <div class="input-box">
              <div class="col-md-12 col-sm-12">
                  <input class="create-account-btn" type="button" value="Resend Verification Email" />
              </div>
          </div>
      </div>
  </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
      <script src="js/script.js"></script>
  </body>
</html>
