<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>Construction</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/mystyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,562;0,600;0,700;1,400;1,500;1,562;1,600;1,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
  </head>
  <body>
  <header class="maine mb-0">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="logo col-md-4">
            <a href="{{route('home')}}"><img src="images/logo.png" alt="construction" /></a>
        </div>
        <div class="post-job col-md-6">
          <ul class="navbar-nav header-top">
            <li class="nav-item">
            <a class="nav-link" href="Bidder/dashboard-page.html">Bidder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="superadmin/dashboard-page.html">Contractor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login.html">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{route('register')}}">SIGNUP</a>
          </li>
          <li class="nav-item">
            <a href="{{route('job.post')}}" class="btn post-job-btn">post a job</a>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <nav class="navbar main-navigation-bar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">FIND A CONTRACTOR</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">HOME RENOVATIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">COMMERCIAL PROJECTS</a>
              </li>

            </ul>
          </div>
  </nav>

 <section class="my-5" style="font-family: 'Open Sans', sans-serif;">
   <div class="container">
     <div class="row mb-4">
        <div class="col-lg-3">
          <h4>Find a Work</h4>
        </div>
        <div class="col-md-7">
          <div class="input-group">
            <input type="text" placeholder="Find Work" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-prepend">
              <a href="#" class="btn btn-primary" id="inputGroup-sizing-sm">Search</a>
            </div>
          </div>
          <a href="#">Advance Search</a>
        </div>
     </div>
     <div class="row">
      <div class="col-lg-3">
        <div class="filter card">
          <div class="card-body">
            <h4 class="mt-0">Recent Search</h4>
            <ul>
              <li>
                <a href="#">Basement Renovations</a>
              </li>
              <li>
                <a href="#">Basement Finishing</a>
              </li>
              <li>
                <a href="#">Basement Suite</a>
              </li>
              <li>
                <a href="#">Personal Use</a>
              </li>
              <li>
                <a href="#">Building Permits</a>
              </li>
              <li>
                <a href="#">3D AutoCAD Modeling</a>
              </li>
            </ul>
            <h4 class="mt-4">My Categories</h4>
            <ul>
              <li>
                <a href="#">Basement Renovations</a>
              </li>
              <li>
                <a href="#">Basement Finishing</a>
              </li>
              <li>
                <a href="#">Basement Suite</a>
              </li>
              <li>
                <a href="#">Personal Use</a>
              </li>
              <li>
                <a href="#">Building Permits</a>
              </li>
              <li>
                <a href="#">3D AutoCAD Modeling</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col-lg-7">
          <div class="row project-listing">
            <div class="col-lg-12 mb-3">
              <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-3 pr-0">
                          <img class="img-fluid pro-img border" src="images/ff.jpg" alt="product-img" />
                        </div>
                        <div class="col-lg-9">
                          <a href="#" class="whislist"><i class="fas fa-heart"></i></a>
                          <h4 class="card-title">Tongue and wood ceiling
                              <a href="javascript:void">
                                  <i class="ti-heart float-right"></i>
                              </a>
                          </h4>
                          <p class="project-hours"><span>Fixed</span> - Entry level -  More than 6 months, <span class="text-primary">300$+</span></p>
                          <span class="mb-3 d-block">Many basement renovation contractors offer financing plans for your renovation projects. Therefore, if you’re overwhelmed with the costs of renovating a basement, it’s good to do your research in advance just to learn about your payment options...</span>
                          <div class="d-flex justify-content-between">
                            <span class="text-muted">Project-add: <span class="font-weight-bold">April 24, 2020</span></span>
                            <span class="text-muted float-right">Total Bid: <span class="font-weight-bold">3</span> </span>
                            <span class="text-muted float-right">Bid Ending Time: <span class="font-weight-bold text-danger">3h:30m</span> </span>
                          </div>
                          <hr>
                          <div class="d-flex no-block float-right align-items-center">
                              <a href="project-detail.html" class="btn btn-sm btn-dark btn-outline">Bid on Project <i class="sl-icon-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                    </div>
              </div>
            </div>
          </div>
          <div class="row project-listing">
            <div class="col-lg-12 mb-3">
              <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-3 pr-0">
                          <img class="img-fluid pro-img border" src="images/ff.jpg" alt="product-img" />
                        </div>
                        <div class="col-lg-9">
                          <a href="#" class="whislist"><i class="fas fa-heart"></i></a>
                          <h4 class="card-title">Tongue and wood ceiling
                              <a href="javascript:void">
                                  <i class="ti-heart float-right"></i>
                              </a>
                          </h4>
                          <p class="project-hours"><span>Fixed</span> - Entry level -  More than 6 months, <span class="text-primary">300$+</span></p>
                          <span class="mb-3 d-block">Many basement renovation contractors offer financing plans for your renovation projects. Therefore, if you’re overwhelmed with the costs of renovating a basement, it’s good to do your research in advance just to learn about your payment options...</span>
                          <div class="d-flex justify-content-between">
                            <span class="text-muted">Project-add: <span class="font-weight-bold">April 24, 2020</span></span>
                            <span class="text-muted float-right">Total Bid: <span class="font-weight-bold">3</span> </span>
                            <span class="text-muted float-right">Bid Ending Time: <span class="font-weight-bold text-danger">3h:30m</span> </span>
                          </div>
                          <hr>
                          <div class="d-flex no-block float-right align-items-center">
                              <a href="project-detail.html" class="btn btn-sm btn-dark btn-outline">Bid on Project <i class="sl-icon-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                    </div>
              </div>
            </div>
          </div>
          <div class="row project-listing">
            <div class="col-lg-12 mb-3">
              <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-3 pr-0">
                          <img class="img-fluid pro-img border" src="images/ff.jpg" alt="product-img" />
                        </div>
                        <div class="col-lg-9">
                          <a href="#" class="whislist"><i class="fas fa-heart"></i></a>
                          <h4 class="card-title">Tongue and wood ceiling
                              <a href="javascript:void">
                                  <i class="ti-heart float-right"></i>
                              </a>
                          </h4>
                          <p class="project-hours"><span>Fixed</span> - Entry level -  More than 6 months, <span class="text-primary">300$+</span></p>
                          <span class="mb-3 d-block">Many basement renovation contractors offer financing plans for your renovation projects. Therefore, if you’re overwhelmed with the costs of renovating a basement, it’s good to do your research in advance just to learn about your payment options...</span>
                          <div class="d-flex justify-content-between">
                            <span class="text-muted">Project-add: <span class="font-weight-bold">April 24, 2020</span></span>
                            <span class="text-muted float-right">Total Bid: <span class="font-weight-bold">3</span> </span>
                            <span class="text-muted float-right">Bid Ending Time: <span class="font-weight-bold text-danger">3h:30m</span> </span>
                          </div>
                          <hr>
                          <div class="d-flex no-block float-right align-items-center">
                              <a href="project-detail.html" class="btn btn-sm btn-dark btn-outline">Bid on Project <i class="sl-icon-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                    </div>
              </div>
            </div>
          </div>
          <div class="row project-listing">
            <div class="col-lg-12 mb-3">
              <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-3 pr-0">
                          <img class="img-fluid pro-img border" src="images/ff.jpg" alt="product-img" />
                        </div>
                        <div class="col-lg-9">
                          <a href="#" class="whislist"><i class="fas fa-heart"></i></a>
                          <h4 class="card-title">Tongue and wood ceiling
                              <a href="javascript:void">
                                  <i class="ti-heart float-right"></i>
                              </a>
                          </h4>
                          <p class="project-hours"><span>Fixed</span> - Entry level -  More than 6 months, <span class="text-primary">300$+</span></p>
                          <span class="mb-3 d-block">Many basement renovation contractors offer financing plans for your renovation projects. Therefore, if you’re overwhelmed with the costs of renovating a basement, it’s good to do your research in advance just to learn about your payment options...</span>
                          <div class="d-flex justify-content-between">
                            <span class="text-muted">Project-add: <span class="font-weight-bold">April 24, 2020</span></span>
                            <span class="text-muted float-right">Total Bid: <span class="font-weight-bold">3</span> </span>
                            <span class="text-muted float-right">Bid Ending Time: <span class="font-weight-bold text-danger">3h:30m</span> </span>
                          </div>
                          <hr>
                          <div class="d-flex no-block float-right align-items-center">
                              <a href="project-detail.html" class="btn btn-sm btn-dark btn-outline">Bid on Project <i class="sl-icon-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>

                    </div>
              </div>
            </div>
          </div>
       </div>
       <div class="col-lg-2">
         <div class="listing-right-block">
           <h4><a href="dashboard-page.html"><img src="images/john.png"> Jhone Deo</a></h4>
           <h3>Proposals</h3>
           <ul>
             <li>
               <a href="#">1 active candidacy</a>
             </li>
             <li>
               <a href="#">23 submitted proposals</a>
             </li>
             <li>
               <a href="#">102 available connects</a>
             </li>
           </ul>
         </div>
         <a href="#">
           <img class="img-fluid" src="images/banner.jpg" />
         </a>
       </div>
     </div>
   </div>
 </section>
 <footer>
     <div class="container">
         <div class="row">
            <div class="col-md-5 col-sm-4 col-xs-12 footer-widget">
                 <a href="javascript" class="footer-logo">
                     <img src="images/logo-white.png" alt="construction" />
                 </a>

                 <p>Basement Renovation in Toronto has been helping homeowners in the greater Toronto area add thousands of dollars to their overall property values through basement renovation ever since this time. Unlike other basement remodelling and home renovation companies, we employ only the most skilled and experienced remodelling experts, as well as use only the most state-of-the-art 3D modelling and computer-aided design software.</p>
             </div>

             <div class="col-md-3 col-sm-3 col-xs-12 footer-link">
                 <h5>Quick Links</h5>
                 <ul>
                     <li><a href="javascript:void()">About us</a></li>
                     <li><a href="javascript:void()">Contact us</a></li>
                     <li><a href="javascript:void()">privacy ploicy</a></li>
                     <li><a href="javascript:void()">terms & Condition</a></li>
                 </ul>
             </div>

             <div class="col-md-3 col-sm-3 col-xs-12 social-link">
                <h5>Follow Us:</h5>
                 <ul>
                     <li class="facebook-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/facebook.png" alt="facebook" />
                         </a>
                     </li>

                     <li class="twitter-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/twitter.png" alt="twitter" />
                         </a>
                     </li>

                    <li class="instagram-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/instagram.png" alt="instagram" />
                         </a>
                     </li>

                     <li class="pintrest-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/pintrest.png" alt="pintrest" />
                         </a>
                     </li>

                    <li class="google-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/google-plus.png" alt="google plus" />
                         </a>
                     </li>

                     <li class="youtube-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/youtube.png" alt="youtube" />
                         </a>
                     </li>

                     <li class="dribble-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/dribble-icon.png" alt="dribble" />
                         </a>
                     </li>

                     <li class="tumbler-icon social-icons">
                         <a hre="javascript:void()">
                             <img src="images/tumbler.png" alt="tumbler" />
                         </a>
                     </li>
                 </ul>

                 <h6>15k followers</h6>
             </div>
         </div>

         <div class="copyright">
             <p>© 2020 Copyright</p>
         </div>
     </div>
 </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
