
.first-signup-block .btn{
    padding: 12px;
    border: none;
    border-radius: 35px;
    margin: 5px auto;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    width: 100%;
}

.first-signup-block input:hover,
.first-signup-block .btn:hover {
  opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */
.first-signup-block .fb {
  background-color: #3B5998;
  color: white;
}

.first-signup-block .twitter {
  background-color: #55ACEE;
  color: white;
}

.first-signup-block .google {
  background-color: #dd4b39;
  color: white;
}

/* style the submit button */
.first-signup-block input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.first-signup-block input[type=submit]:hover {
  background-color: #45a049;
}

/* vertical line */
.first-signup-block .vl {    
    border: 2px solid #ddd;
    height: 5px;
    width: 90%;
    margin: 10px auto 30px auto;
    background: #ddd;
    position: relative;
}

/* text inside the vertical line */
.first-signup-block .vl-innertext {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.first-signup-block .hide-md-lg {
  display: none;
}

/* bottom container */
.first-signup-block .bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

.first-signup-block .col {
    min-height: 140px;
    display: flex;
    flex-flow: column
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  
  /* hide the vertical line */
  .first-signup-block .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .first-signup-block .hide-md-lg {
    display: block;
    text-align: center;
  }
}